/*Mobile first*/
body {
  margin: 0;
}

.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/patrick-hendry-_desktop-unsplash.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
}

.header-icons {
  display: flex;
  position: absolute;
  top: 100px;
  right: 40px;
}

.header-icons div {
  border: 3px white solid;
  border-radius: 50%;
  padding: 8px;
  margin: 5px;
}

.header-icons img {
  display: flex;
  height: 17px;
  width: auto;
  align-items: center;
}

.profile-pic-mobile {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-image: url(./assets/profile_mobile.png);
  position: absolute;
  top: 340px;
  right: 40px;
}

.header-text {
  display: flex;
  position: absolute;
  top: 180px;
  width: 300px;
  text-align: left;
  padding: 30px;
  color: #fff;
}

.header-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
.header-text p {
  font-family: 'Roboto', sans-serif;
}

.small-header-text {
  display: flex;
  position: absolute;
  top: 0;
}
.header-portfolio {
  margin-right: 20px;
}

.header-name {
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.red-white-h2 {
  display: inline;
  color: #fff;
  font-size: 20px;
  background-color: #fa382f;
  padding: 3px 10px 3px 10px;
}

.red-h2 {
  font-size: 20px;
  color: #fa382f;
  margin-top: 70px;
}

main p,
footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.shape-container {
  display: flex;
  align-items: center;
  padding: 20px;
  shape-outside: inset(50%);
}

.line {
  width: 80px;
  height: 3px;
  border-radius: 10px;
  background: #fa382f;
}

.circle {
  width: 12px;
  height: 12px;
  background: #fa382f;
  border-radius: 50%;
}

.about-me {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 20px;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 40px;
}

.featured-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 40px;
}

.featured-projects p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.red-text {
  color: #fa382f;
  font-weight: bold;
}

.project-skills-container {
  display: flex;
}

.project-skills {
  background-color: #fddfe7;
  padding: 5px;
  margin: 3px;
}

.project-skills p {
  margin: 0;
  font-size: 10px;
}

.my-thoughts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.thoughts-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.my-thoughts p {
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
}

.my-thoughts h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-top: 25px;
  margin-bottom: 5px;
}

.thoughts-date {
  color: #fa382f;
  position: absolute;
  top: 0;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 40px;
}

.skills {
  text-align: center;
}

ul {
  list-style-type: none;
}

.for-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.for-more-icon-container {
  display: flex;
}

.for-more-icon-container div {
  border: 3px solid #fa382f;
  border-radius: 50%;
  margin: 14px;
}

.for-more-icon-container img {
  display: flex;
  height: 17px;
  width: auto;
  align-items: center;
  padding: 11px;
}

.for-more-icon-text {
  display: flex;
  margin-top: 0;
  padding-top: 0;
}

.icon-text {
  font-size: 9px;
  font-weight: bold;
  color: #fa382f;
  margin-top: 0;
}

footer {
  padding: 40px;
  text-align: center;
  background-color: #072bce;
  color: #fff;
}
